/* BACKGROUND IMAGE
--------------------------------------------------------- */
body { background-image: url('../images/backpattern4.jpg'); }

/* MAIN COLOR (for example red)
--------------------------------------------------------- */
a { color: #C43C34; }
input[type=submit], input[type=button], button, .button { background: #C43C34; }
nav#mainmenu { background: #C43C34; }
nav#mainmenu ul li ul.sub-menu { border-bottom-color: #C43C34; }
#search-box { background: #C43C34; }
#circle-pager a:after { color: #C43C34; }
.feature:hover .circle { background: #C43C34; }
.feature .circle:after { background: #C43C34; }
.carousel-vert4 ul li h3 a:after { color: #C43C34; }
#content .pricing th.heading { background: #C43C34; }
.accordion-style1 .accordion-title a.active:before { background: #C43C34; }
.accordion-style2 .accordion-title a.active:before { background: #C43C34; }
#footer { background: #C43C34; }

/* DARKER MAIN COLOR (for example dark red)
--------------------------------------------------------- */
nav#mainmenu:before { border-bottom-color: #B32921; }
nav#mainmenu:after { border-bottom-color: #B32921; }

/* LIGHTER MAIN COLOR (for example light red)
--------------------------------------------------------- */
nav#mainmenu ul li a:hover, nav#mainmenu ul li a.active, nav#mainmenu ul li a.active-parent { background: #E26B65; }
nav#mainmenu ul li ul.sub-menu { background: #E26B65; }
.carousel-vert4 ul li:hover { background: #E26B65; }
#content .pricing table.highlighted th.heading { background: #E26B65; }
#footer .button, #footer input[type=submit], #footer  input[type=button], #wrapperbox #footer button { background-color: #E26B65; }
.footerbox ul li i { background: #E26B65; }
#footer a:not(.button):hover { color: #E26B65; }

/* COMPLIMENTARY COLOR (for example orange)
--------------------------------------------------------- */
#wrapperbox { border-top-color: #C47834; }
#circle-pager a.activeSlide:after { color: #C47834; }
.slide-text p { background: #C47834; }
.carousel4 li a.popup:hover { background: #C47834; }
.quote .author { background: #C47834; }
ul.tabs li.active a  { border-top-color: #C47834; }
ul.tags li a.active { background: #C47834; border-color: #C47834; }
.vertical-tabs ul.tabs li.active a  { border-left-color: #C47834; }
.team-member img:hover { border-bottom-color: #C47834; }
.loop-pagination span.current { background: #C47834; border-color: #C47834; }
.gallery-icon a:hover { background: #C47834; }
